# Dependencies
node_modules/
.angular/
dist/

# Environment Variables
.env
*.env
wastezero-backend/.env

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*