<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />

      <small *ngIf="loginForm.get('email')?.touched">

  <span *ngIf="loginForm.get('email')?.errors?.['required']">
    Email is required
  </span>

  <span *ngIf="loginForm.get('email')?.errors?.['email'] && !loginForm.get('email')?.errors?.['required']">
    Invalid email format
  </span>

</small>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />

      <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Password is required
      </small>
    </div>

    <button type="submit">Login</button>

  </form>
</div>